<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Elogic_Vendors::vendor" title="Vendor">
                        <resource id="Elogic_Vendors::vendor_delete" title="Delete vendor" sortOrder="10"/>
                        <resource id="Elogic_Vendors::vendor_save" title="Save vendor" sortOrder="10"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
